<!-- This HTML gets added to the start of the Crosswords section list. -->
<h1> Loplop Crosswords </h1>    

<center>
  <img src="/assets/images/loplop-profile-pic.png" alt="A picrew (anime-style image) of George (a.k.a. Loplop)."> 
</center>

<p>Cryptic crosswords and other variety puzzles, published whenever I finish writing them. “A mix of easy and diabolical clues.”</p>

<p>You can follow me on <a href="https://twitter.com/__loplop/">Twitter</a>, <a href="https://crosshare.org/loplop">Crosshare</a> or subscribe to my <a href="/crosswords/feed.xml">RSS feed</a>.</p>

<hr>
