<!-- MathJax -->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: {inlineMath: [["$", "$"]]} })
</script>

<!-- Custom fonts: Nicholson Gothic, Triplicate A Code, Equity A or B -->
<link rel="stylesheet" media="all" href="/assets/fonts/nicholson-gothic.css" type="text/css"/>
<link rel="stylesheet" media="all" href="/assets/fonts/triplicate-a.css" type="text/css"/>
<script type="text/javascript">
  if (navigator.appVersion.indexOf("Win")!=-1) {
    document.write('<link rel="stylesheet" type="text/css" media="all" href="/assets/fonts/equity-a.css"/>');
  } else if (navigator.appVersion.indexOf("Mac")!=-1) {
    if (navigator.userAgent.match(/iPad/i) != null) {
      document.write('<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="/assets/fonts/equity-b.css" type="text/css"/>');
      document.write('<link rel="stylesheet" media="only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)" type="text/css" href="/assets/fonts/equity-a.css"/>');
    } else {
      document.write('<link rel="stylesheet" type="text/css" media="all" href="/assets/fonts/equity-b.css"/>');
    }
  } else {
    document.write('<link rel="stylesheet" type="text/css" media="all" href="/assets/fonts/equity-a.css"/>');
  }
</script>

<!-- Custom styling -->
<style>
  html {
    font-size: 18px;
    font-size: min(max(18px, 4vw), 26px);
  }

  content { line-height: 1.45; }

  body {
    max-width: 800px;
    font-family: Equity, 'Times New Roman', Palatino, serif;
    background-color: #fffff8;
  }

  code {
    font-family: Triplicate, 'Lucida Console', monospace;
    font-size: 85%;
    background-color: unset;
  }

  pre code {
    white-space: pre;
    overflow-x: auto;
    font-size: 14px;
    font-size: min(max(12px, 2vw), 16px);

    /* https://stackoverflow.com/a/22417120/13372802 */
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: NicholsonGothic, Verdana, sans-serif;
    line-height: 1.25;
  }

  h2, h3, h4, h5, h6 { margin-top: 8%; margin-bottom: -1%; }
  nav { margin-top: 3%; margin-bottom: 5%; }

  /* Blog posts occasionally have embedded content, which should be wide */
  p.wide-embeds{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90vw;
  }

  /* Indent more between dates and blog post titles to compensate for larger
     font size */
  ul.blog-posts li span {
    flex: 0 0 140px;
  }

  /* Newsletter subscriber form in footer */
  .revue-form-group, .revue-form-actions {
    display: inline-block;
  }

  input[type=email] {
    font-family: Triplicate, 'Lucida Console', monospace;
    font-size: 80%;
  }

  input[type=submit] {
    font-family: Equity, 'Times New Roman', Palatino, serif;
    font-size: 80%;
  }

  @media (prefers-color-scheme: dark) { body { background-color: #111111; } }
</style>
