<!-- MathJax -->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet"> 

<!-- Additional styling -->
<style>
  @font-face{
    font-family: NicholsonGothic;
    src: url(/assets/fonts/NicholsonGothic-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  body {
    font-family: 'Source Serif Pro', Georgia, serif;
    font-size: 120%;
  }

  code {
    font-family: 'Source Code Pro', 'Lucida Console', monospace;
    font-size: 90%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: NicholsonGothic, Verdana, sans-serif;
  }
</style>
