<!-- MathJax -->
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: {inlineMath: [["$", "$"]]} })
</script>

<!-- Clicky analytics -->
<script async src="//static.getclicky.com/101349618.js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101349618ns.gif" /></p></noscript>

<!-- Custom fonts: Nicholson Gothic, Triplicate A Code, Equity A or B -->
<link rel="stylesheet" media="all" href="/assets/fonts/nicholson-gothic.css" type="text/css"/>
<link rel="stylesheet" media="all" href="/assets/fonts/triplicate-a.css" type="text/css"/>
<script type="text/javascript">
  if (navigator.appVersion.indexOf("Win")!=-1) {
    document.write('<link rel="stylesheet" type="text/css" media="all" href="/assets/fonts/equity-a.css"/>');
  } else if (navigator.appVersion.indexOf("Mac")!=-1) {
    if (navigator.userAgent.match(/iPad/i) != null) {
      document.write('<link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="/assets/fonts/equity-b.css" type="text/css"/>');
      document.write('<link rel="stylesheet" media="only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)" type="text/css" href="/assets/fonts/equity-a.css"/>');
    } else {
      document.write('<link rel="stylesheet" type="text/css" media="all" href="/assets/fonts/equity-b.css"/>');
    }
  } else {
    document.write('<link rel="stylesheet" type="text/css" media="all" href="/assets/fonts/equity-a.css"/>');
  }
</script>

<!-- Custom styling -->
<style>
  body {
    font-family: Equity, Georgia, serif;
    font-size: 1.25em;
    background-color: #fffff8;
  }

  code {
    font-family: Triplicate, 'Lucida Console', monospace;
    font-size: 90%;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: NicholsonGothic, Verdana, sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #111111;
    }
  }
</style>
